.header {
  height: 10vh;
  min-height: 50px;
  background-color: #264653;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 0 1rem;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  color: #fff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5ch;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-out;
  letter-spacing: 2px;
}
.header-logo:hover {
  letter-spacing: 7px;
}
.header-usr-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.header-butt0 {
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}
.header-butt0.lgd {
  width: 150px;
}
.header-butt0.nlgd {
  width: 120px;
}
.header-butt-cln {
  height: 2px;
  width: 20px;
  background-color: #fff;
  transition: 0.5s;
}
.header-butt0.lgd:hover + .header-butt-cln.lgd {
  width: 150px;
}
.header-butt0.nlgd:hover + .header-butt-cln.nlgd {
  width: 120px;
}
.header-butt-cln {
  height: 2px;
  width: 20px;
  background-color: #fff;
  transition: 0.5s;
  z-index: 1;
}
.header-butt0:hover + .header-butt-cln {
  width: 120px;
}
.header-user-logo {
  height: 30px;
  pointer-events: none;
}
.header-text {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #fff;
}
